#pages {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    max-height: 250px;
    overflow: auto;
}

#pages > .lines {
    padding: 8px;
    margin: 8px;
    color: #fff;
    font-size: 12px;
    font-family: Monaco, Consolas, monospace;
    text-shadow: 0 1px 0 #111;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#pages > .lines:hover {
    background: rgba(0, 0, 0, 0.2);
}

#pages > .lines > .title {
    display: block;
    margin: 0 0 5px;
    font-weight: bold;
}

#pages > .lines > .count {
    margin: 5px 0 0;
    display: inline-block;
    padding: 2px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #ccc;
    box-shadow: 2px 2px 0 #222;
    color: #333;
    text-shadow: 0 1px 0 #fff;
}